.uppcoming-events-section{
    background-color: #5BA199;
    height: 60vh;
}
.all-components{
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    background-color: #DDBEAA;
}
.event{
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    background-color: #DDBEAA;
}