.uppcoming-events-section{
    background-color: #BBC6C8;
    height: 75vh;
}
.all-components{
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: flex-start;
    align-items: center;
    min-height: 80%;
    min-width: 80%;
    padding: 40px;
}