body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.introduction-page{
    height: 100vh;
    width: 100%;
    background-color: #E5E3E4;
}
.nav-bar{
    width: 100%;
    height: 13vh;
    background-color: #5BA199;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
}
.title-logo{
    font-weight: bold;
    font-size: 25px;
}
ul{
    display: flex;
    gap: 4em;
    justify-content: center;
    padding-right: 10em;
    list-style: none;
}
li{
    transition: 0.3s;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}
li:hover{
    color: #DDBEAA;
}


.introduction-container{
    display: flex;
    flex-direction: column;
    background-color: #BBC6C8;
    width: 50%;
    min-height: 60%;
    padding: 3em;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 1px 1px 3px;
    border-color: #6d7476;
}
.intro-title{
    font-size: 3rem;
}
.intro-text{
    margin-top: 1.7em;
    font-size: 23px;
}
.intro-buttons{
    background-color: #5BA199;
    border: solid 2px;
    border-color: #469597;

}